<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard Paciente</title>
  <!-- Agregar los estilos de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha384-kZJ8NYJu+1FZQaVoQiM+2yNx8z+XMpX9+E9JvLveZlSKhITRwUhDPLNXzg2BfWt/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" integrity="sha512-Vp0zFZ/NOh9tF/s5xEqH3I5J5y5ElmXTxoyPH0cczOvO2JZgj49XV8hJjGGGCB6Qb1yypIH+6c/CU6G3qZ7zUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-igBjJwYCCPpL+Mfnrki1xb9tNZFbJq3OMDl8+YY5p5y5w5aGz5I5+R/Q9z9n1eQZBwpGv0hWjDjj0g+7YFdq3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <meta name="language" content="es">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha384-6zpxYHvGQhxGrwESe3q3sjjABJpOz8WHA0I06gj+kX9F4OiIdPTO4UwpaRUOvo7G" crossorigin="anonymous"></script>


  <style>
    /* Estilos CSS personalizados */

    .left-column {
      border-radius: 30px;
      background-color: #f5f5f5;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .right-column {
      background-color: #e0e0e0;
    }

    footer {
      background-color: #4200FF;
      color: white;
      text-align: center;
      padding: 10px;
      position: absolute;
      bottom: 0;
    }
    html,
    body {
      height: 100%;
    }

    /* Estilo para crear un contenedor de flexbox que ocupe toda la altura de body */
    .container-flex {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    /* Estilo para hacer que el área de contenido ocupe todo el espacio restante */
    .content {
      flex: 1;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="container-flex">
    <div class="row flex-grow-1">
      <div class="col-md-2 bg-white align-items-center" style="color: #4200ff; font-family: poppins;
      position: sticky; top: 0; height: 100vh;
      border-radius: 30px;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        <h1 class="mt-4 align-items-center">Innovamed</h1>
        <div class="row">
          <div class="col-md-6">
            <h1 class="mt-4 align-items-center">Clinic</h1>
          </div>
          <div class="col-md-6">
            <img class="img-fluid d-block" th:src="@{eslogan.png}" alt="Eslogan de Innovamed">
          </div>
        </div>
        <div class="container-fluid d-flex flex-column justify-content-center">
          <nav class="nav flex-column mt-5 align-items-center stacked-menu d-flex justify-content-center">
            <a class="nav-link active" href="#"><span class="menu-icon fas fa-home" style="color: #4200FF"></span>Dashboard</a>
            <a class="nav-link" href="#"><span class="menu-icon fas fa-calendar"></span>Citas Agendadas</a>
            <a class="nav-link" href="#"><span class="menu-icon fas fa-money-bill"></span>Pagos</a>
            <a class="nav-link" href="#"><span class="menu-icon fas fa-question-circle"></span>Cuestionarios</a>
            <a class="nav-link" href="#"><span class="menu-icon fas fa-check-square"></span>Consentimientos</a>
            <a class="nav-link" href="#"><span class="menu-icon fas fa-user-md"></span>Doctores</a>
            <a class="nav-link" href="#"><span class="menu-icon fas fa-sign-out-alt"></span>Cerrar Sesión</a>
          </nav>
        </div>

      </div>
      <div class="col-md-9 ml-3 h-100 right-column bg-white">
        <!-- Contenido de la columna derecha -->
        <div class="row">
          <div class="col-md-8">
            <h3 class="mt-5" style="color: #4E4E4E;font-size: 30px; font-weight: bold;font-family: poppins">
              Bienvenido(a), paciente
            </h3>
          </div>
          <div class="col-md-4 mt-5 ml-auto">
            <div class="container" style="border-radius: 30px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
              <div class="row no-gutters align-items-center">
                <div class="col-md-2 text-center">
                  <a href="http://www.ejemplo.com">
                    <img th:src="@{notificacion.png}" alt="Icono" width="24" height="24">
                  </a>
                </div>
                <div class="col-md-2 text-center">
                  <a href="http://www.ejemplo.com">
                    <img th:src="@{comentario.png}" alt="Icono" width="24" height="24">
                  </a>
                </div>
                <div class="col-md-2 text-center">
                  <a href="http://www.ejemplo.com">
                    <img th:src="@{configuraciones.png}" alt="Icono" width="24" height="24">
                  </a>
                </div>
                <div class="col-md-3 text-center">
                  <h8 style="font-family: poppins; font-size: 18px; color: #4200ff; font-weight: bolder">
                    Lionel Messi
                  </h8>
                  <h8 style="font-size: 18px; font-family: poppins; font-weight: bold; color: #4E4E4E">
                    Paciente
                  </h8>
                </div>
                <div class="col-md-2 text-center ml-auto">
                  <a href="http://www.ejemplo.com">
                    <img th:src="@{doc.png}" alt="Icono" width="40" height="40">
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-5">
            <div class="col-md-12 mt-5">
              <div class="container w-50 text-center align-items-center" style="border-radius: 20px; background-color: #4200ff; height: 200px;">
                <img class="img-fluid" th:src="@{docccc.png}" style="object-fit: contain; max-height: 100%; max-width: 100%;">
              </div>
            </div>
            <div class="col-md-12 text-center align-items-center">
              <button class="btn btn-lg w-70 mt-4 shadow-lg" style="border-radius: 20px ;background-color: #4200FF; color: white">
                Agendar Cita
              </button>
            </div>
          </div>
          <div class="col-md-4 rounded shadow p-3 mt-3">
            <div class="container" style="border-radius: 30px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
              <!-- Contenido del contenedor -->
              <div class="container">
                <img class="img-fluid mt-3" th:src="@{pelota.png}">
              </div>
              <div class="container mt-5 mb-3 text-center align-items-center d-flex justify-content-center">
                <p class="mb-5 text-justify" style="color: #404040; font-size: 16px; font-family: poppins">
                  La actividad fisica regular puede aumentar la fuerza muscular y aumentar la resistencia.
                </p>
              </div>
            </div>

          </div>
          <div class="col-md-4 rounded shadow p-3 mt-3">
            <div class="container" style="border-radius: 30px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
              <!-- Contenido del contenedor -->
              <div class="container">
                <img class="img-fluid mt-3" th:src="@{sede.jpg}" style="border-radius: 20px">
              </div>
              <div class="container mt-5 mb-3 text-center align-items-center d-flex justify-content-center">
                <p class="mb-5  text-justify" style="color: #404040; font-size: 24px">
                  La mejor infraestructura del pais
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <h2 style="color: #404040; font-weight: bolder; font-size: 25px">
            Elige una sede
          </h2>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-8 mb-3">
            <img class="img-fluid" th:src="@{mapa.png}">
          </div>
          <div class="col-md-3">
            <div class="container text-center">
              <button class="btn btn-lg w-100 mt-4" style="border-radius: 20px; border-color: #4200ff; color: #4200ff; background-color: white">
                Sede Jesús María
              </button>
            </div>
            <div class="container text-center">
              <button class="btn btn-lg w-100 mt-4" style="border-radius: 20px;border-color: #4200ff; color: #4200ff; background-color: white">
                Sede San Isidro
              </button>
            </div>
            <div class="container text-center">
              <button class="btn btn-lg w-100 mt-4" style="border-radius: 20px; border-color: #4200ff;color: #4200ff; background-color: white">
                Sede Pueblo Libre
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Agregar el footer -->
<footer class="footer fixed-bottom" style="margin-bottom: 0">
  Derechos Reservados &copy; 2023
</footer>
<!-- Agregar los scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
  // Inicializar el mapa en el div con ID "mapid"
  var mymap = L.map('mapid').setView([51.505, -0.09], 13);

  // Agregar un tile layer (mapa base)
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
    maxZoom: 18,
    id: 'mapbox.streets'
  }).addTo(mymap);

  // Agregar un marcador en la ubicación deseada
  var marker = L.marker([51.5, -0.09]).addTo(mymap);
</script>

</body>

</html>
